@namespace h "http://www.w3.org/1999/xhtml";
.border {
    display: block
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
.calibre1 {
    color: blue;
    cursor: pointer;
    text-decoration: underline
    }
.calibre10 {
    font-style: italic
    }
.calibre11 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre12 {
    display: block;
    font-weight: bold;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.33em
    }
.calibre13 {
    height: 150px;
    width: 650px
    }
.calibre14 {
    background: #ddd
    }
.calibre2 {
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em
    }
.calibre3 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre4 {
    color: inherit;
    cursor: inherit;
    text-decoration: inherit
    }
.calibre5 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre6 {
    font-weight: normal
    }
.calibre7 {
    display: block;
    text-align: center
    }
.calibre8 {
    height: 92px;
    width: 374px
    }
.calibre9 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.enote {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.enote1 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.information {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.ptoc {
    display: block;
    margin-bottom: 10pt;
    margin-left: 20;
    margin-right: 0;
    margin-top: 10pt;
    text-indent: 10mm
    }
.title {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right
    }
.tocheading {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    margin-bottom: 20pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20pt;
    text-align: center
    }